body
{
	background-color: #F0F0F0;
	margin-left: 0px;
	line-height: 20px;
}

video
{
	margin-left: 25%
}

p,h2
{
	font-family: "Times New Roman", Times, serif;
	margin-left: 15px;
}

a
{
	color: #000099;
}

ol
{
	line-height: 26px;
	
}

#gameplayImage2
{	
	border: solid gray;
	padding: 2px;
	margin-right: 25px;
	float: right;
}

#gameplayImage1
{
	border: solid gray;
	padding: 2px;
	float: right;
	margin-right: 5px;
}

#questsImage
{
	float: right;
	padding: 1px;
	border: solid gray;
	margin-right: 15px;
	margin-left: 10px;
	margin-bottom: 10px;
}

#elixirImage
{	
	padding: 1px;
	border: solid gray;
	margin-left: 15px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
}

#Gameplay, #ReturnToTop
{
	margin-top: 50px;
	text-align: center;
}


#Intro
{
	margin-left: 15px;
	margin-right: 25px;
}

#Top, #validator
{	
	margin-top: 50px;
	text-align: center;
}

#downloadLink
{
	float:right;
}

#videoDescription
{
	margin-top: 50px;

}


.navbar	
{
	/* Removes bullets */
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #d3d3d3;
}

/* Change the link color on hover */
.navbar>li>a:hover 
{
	background-color:#A9A9A9;
}

.navbar>li
{
	/* Makes list horizontal */
	display: inline-block;
	float: left;
}	

.navbar>li>a
{
	display: block;
	padding: 8px 25px;
	text-decoration: none;
}

.readerNotes
{
	color: blue;
	font-family: Roboto, Calibri, sans-serif;
}
.BoxHeader
{
	margin-left: 0px;
}

.IntroImage
{	
	
	float: right;
	padding-left: 8px;
	margin-right: 25px;
	border-color: gray;
	border-style: solid;
	width: 250px;
	height: 120px;
	background-color: #D3D3D3;
	text-align: left;
}

.TableOfContents
{
	padding-left: 8px;
	margin-left: 15px;
	border-color: gray;
	border-style: solid;
	width: 200px;
	height: 220px;
	background-color: #D3D3D3;
	text-align: justify;
}

a:link
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

















